In [34]:
name = "Dedi"
age = 20
addres,province = "Jl. Cibolang" , "7413412"
scorePython = 80.5
isMarried = False

print ("nama :",name)
print ("umur :",age)
print ("alamat :",addres,province)
print ("Nilai Pemrograman :",scorePython)
print ("Status Menikah :",isMarried)

nama : Dedi
umur : 20
alamat : Jl. Cibolang 7413412
Nilai Pemrograman : 80.5
Status Menikah : False

In [36]:
print("Tipe Data <name>",type(name))
print("Tipe Data <Age>",type(age))
print("Tipe Data <addres>",type(addres))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePhyton>",type(scorePhyton))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <Age> <class 'int'>
Tipe Data <addres> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePhyton> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [58]:
#Konversi Tipe Data
#Konversi dari String ke int,float,bool
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+5, strToFloat, strToBool, sep="-")

#konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr, intToFloat, intToBool, sep="-")

#konversi dari float ke (str,int,bool)
floatToStr = str(scorePhyton)
floatToInt = int(scorePhyton)
floatToBool = bool(scorePhyton)
print(floatToStr, floatToInt, floatToBool, sep="-")

#konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt, boolToFloat, boolToStr, sep="-")

7413417-7413412.0-True
20-20.0-True
87.5-87-True
0-0.0-False

In [54]:
#Tipe Data jenis bilangan
desimal = 100
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Desimal :",desimal)
print("Biner :",biner)
print("octal :",octal)
print("Hexadesimal :",hexa)

print("Biner dari",desimal,bin(desimal))
print("Octal dari", desimal,oct(desimal))
print("Hexa dari",desimal,hex(desimal))

Desimal : 100
Biner : 10
octal : 255
Hexadesimal : 255
Biner dari 100 0b1100100
Octal dari 100 0o144
Hexa dari 100 0x64

In [60]:
#Tipe Data basis bilangan (desimal,biner,octal,hexa)
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai Desimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai octal :",octal)
print("Nilai Hexa :",hexa)

print("Nilai Biner dari",desimal,bin(desimal))
print("Nilai Octal dari", desimal,oct(desimal))
print("Nilai Hexa dari",desimal,hex(desimal))

Nilai Desimal : 500
Nilai Biner : 10
Nilai octal : 255
Nilai Hexa : 255
Nilai Biner dari 500 0b111110100
Nilai Octal dari 500 0o764
Nilai Hexa dari 500 0x1f4

In [114]:
#Tipe data Collection
#List
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabka error out of range
print(cities)

#Tuple
names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" eror immutable tuple

#Dictionary
studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball", "Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

#List of Dictionary
studentList = [
     { 
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "cisaat",
            "number" : 21,    
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Basket Ball", "Footbal"]
    },
    {
        "name" : "Dedi",
        "age" : 15,
        "address" : {
            "street" : "Bogor",
            "number" : 29,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["Chess", "Singing"]
    }
]
print (studentList[0])
print (studentList[1])
print (studentList[1] ["address"] ["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
25
Jawa Barat
Basket Ball
{'name': 'Robi', 'age': 25, 'address': {'street': 'cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Footbal']}
{'name': 'Dedi', 'age': 15, 'address': {'street': 'Bogor', 'number': 29, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Chess', 'Singing']}
Jawa Barat

In [96]:
#Konversi dictionary

list_list = [["Name","Andi"],["Age",30],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent =dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal =dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptile"))
dictTupleAnimal =dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle","Brand","cc"]
values = ["Car","BMW",2500]
car = dict(zip(keys,values))
print(car)

{'Name': 'Andi', 'Age': 30, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'Brand': 'BMW', 'cc': 2500}